<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header">HEADER</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="active"><a href="http://127.0.0.1:8088"><i class="fa fa-link"></i> <span>总览</span></a></li>
            <!--容器服务-->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-desktop"></i> <span>容器服务</span>
                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                </a>
                <ul class="treeview-menu">
                    <li class=""><a href="/app_manage"><i class="fa fa-circle-o"></i>product name</a></li>
                    <li class=""><a href="/app_manage/service"><i class="fa fa-circle-o"></i>app name</a></li>
                    <li class=""><a href="/app_manage/container"><i class="fa fa-circle-o"></i>container</a></li>
                    <li class=""><a href="/app_manage/configs"><i class="fa fa-circle-o"></i>configs</a></li>
                </ul>
            </li>
            <!--代码构建-->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-cubes"></i> <span>代码构建</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li class=""><a href="#"><i class="fa fa-circle-o"></i>在线构建</a></li>
                    <li class=""><a href="#"><i class="fa fa-circle-o"></i>离线构建</a></li>
                </ul>
            </li>
            <!--镜像市场-->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-database"></i> <span>镜像市场</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li class=""><a href="/images"><i class="fa fa-circle-o"></i>镜像中心</a></li>
                    <!--<li class=""><a href="#"><i class="fa fa-circle-o"></i>我的镜像仓库</a></li>-->
                </ul>
            </li>
            <!--发布管理-->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-database"></i> <span>发布管理</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li class=""><a href="/images"><i class="fa fa-circle-o"></i>发布</a></li>
                    <!--<li class=""><a href="#"><i class="fa fa-circle-o"></i>我的镜像仓库</a></li>-->
                </ul>
            </li>
            <!--服务编排-->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-tags"></i> <span>服务编排</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li class=""><a href="#"><i class="fa fa-circle-o"></i>我的编排</a></li>
                </ul>
            </li>
            <!--集群管理-->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-sitemap"></i> <span>集群管理</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li class=""><a href="#"><i class="fa fa-circle-o"></i>我的集群</a></li>
                </ul>
            </li>
            <!--存储管理-->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-database"></i> <span>存储管理</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li class=""><a href="#"><i class="fa fa-circle-o"></i>我的存储</a></li>
                </ul>
            </li>
            <!--系统设置-->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-wrench"></i> <span>系统设置</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li class=""><a href="#"><i class="fa fa-circle-o"></i>角色管理</a></li>
                    <li class=""><a href="#"><i class="fa fa-circle-o"></i>用户管理</a></li>
                    <li class=""><a href="#"><i class="fa fa-circle-o"></i>权限管理</a></li>
                    <li class=""><a href="#"><i class="fa fa-circle-o"></i>用户组管理</a></li>
                </ul>
            </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>

